.contenedor__todos-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 80%;
    height: 100%;
    margin: 1rem 10%;
    background-color: #0000005e;
    border-radius: 1rem;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .contenedor__todos-productos{
        width: 95%;
        height: 100%;
        margin: 1rem 2.5%;
    }
}