.producto__botones-admin{
    display: flex;
    justify-content: space-evenly;
}

.editar__img-admin, .eliminar__img-admin{
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.editar__img-admin{
    background-image: url("../img/edit-icon.svg");
    background-size: 100% 70%;
}

.eliminar__img-admin{
    background-image: url("../img/delete-icon.svg");
    background-size: 100% 80%;
}

.editar__img-admin:hover, .eliminar__img-admin:hover{
    background-color: chartreuse;
}