.todos__cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    margin: 2rem;
}

.todos__titulo{
    font-size: 3rem;
    font-weight: bold;
    color: forestgreen;;
}

.todos__boton{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2rem;
    height: 50%;
    font-weight: bold;
    background-color: black;
    color: chartreuse;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.todos__boton:hover{
    background-color: chartreuse;
    color: black;
}