.contenedor__banner {
    background-color: #0000004f;
    display: flex;
    margin: 2rem 10%;
    border-radius: 1rem;
    width: 80%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 20%;
    width: 60%;
    height: 20rem;
    border-radius: 1rem;
    background-image: url(/styles/img/banner-promos/p-intro.png);
    background-size: 100% 100%;
}

.prev,
.next {
    background-color: transparent;
    color: chartreuse;
    border: none;
    position: absolute;
    top: 60%;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    font-weight: bold;
    transition: 2s;
}

.prev {
    left: 14rem;
}

.next {
    right: 14rem;
}

.prev:hover{
    transform: translateX(-1rem);
    cursor: pointer;
}

.next:hover{
    transform: translateX(1rem);
    cursor: pointer;
}