.rodapie__formulario{
    width: 40%;
    height: 80%;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seleccionar los elementos li que contienen los mensajes de error */
.formulario__errores li {
    color: #e0e7ef;
    margin-bottom: 1rem;
  }

.formulario__titulo{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #e0e7ef;
}

.formulario__nombre, .formulario__mensaje, .formulario__boton{
    width: 85%;
    height: 2rem;
    border-radius: 1rem;
    padding: 8px;
    margin-bottom: 1rem;
    border: none;
    font-size: 1.2rem;
}

.formulario__nombre:focus, .formulario__mensaje:focus{
    outline: none;
}

.formulario__boton{
    width: 40%;
    height: 2.2rem;
    cursor: pointer;
}

.formulario__boton:hover{
    background-color: #f46f52;
    font-weight: bold;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .rodapie__formulario{
        width: 100%;
        margin-top: 2rem;
    }
}