.pie{
    background-color: black;
    height: 10vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autor{
    color: white;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (max-device-width: 768px)  { 
    .pie{
        padding: 1rem;
        text-align: center;
    }
}