.contenedor__productos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000004f;
    width: 80%;
    margin: 2rem 10%;
    border-radius: 1rem;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .contenedor__productos{
        width: 98%;
        margin: 2rem 1%;
    }
}