.productos__slider{
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.slider__item{
    position: absolute;
    width: 500px;
    transition: 0.5s;
    left: calc(50% - 15rem);
    top: 7.5rem;
}

.item__img{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}