.item__verMas {
    background-color: #000000;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #eff4fa;
    display: none;
}

.item__nombre,
.item__precio,
.item__descripcion {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.item__nombre{
    font-weight: bold;
    color: chartreuse;
}