.item__verMas {
    background-color: #000000;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 10rem;
    color: #eff4fa;
    display: none;
}

.item__nombre,
.item__precio,
.item__descripcion {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}