.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera__barra-busqueda{
    width: 20rem;
    height: 2.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
}

.cabecera__barra-busqueda:focus{
    outline: none;
}

#botonBusqueda{
    background-image: url(/styles/img/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 95% 70%;
    background-position: left;
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 100%;
    margin-left: 1rem;
    cursor: pointer;
}

#botonBusqueda:hover{
    background-color: #f46f52;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .cabecera__barra-busqueda{
        width: 80%;
    }
}

/* Portrait and Landscape---------- Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ 
    .cabecera__barra-busqueda{
        width: 30%;
        height: 3rem;
    }
}