.cabecera__sesion, .cabecera__admin, .cabecera__inicio{
    width: 10.5rem;
    height: 3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.cabecera__sesion:hover, .cabecera__admin:hover, .cabecera__inicio:hover{
    background-color: #f46f52;
    font-weight: bold;
    height: 4rem;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .cabecera__sesion, .cabecera__admin, .cabecera__inicio{
        width: 50%;
        height: 3rem;
    }
}