.cabecera__img{
    width: 12rem;
    height: 8rem;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .cabecera__img{
        width: 80%;
        height: 10rem;
    }
}

/* Portrait and Landscape---------- Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ 
    .cabecera__img{
        width: 40%;
        height: 100%;
    }
}