.contenedor__cabecera{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 10rem;
}

/*----------RESPONSIVE----------MOBILE----------*/
@media only screen and (max-width: 768px) {
    .contenedor__cabecera{
        gap: 0;
        height: 10rem;
    }
}
