.contenedor__cabecera{
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 10rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#Body__Index, #Body__Login, #Body__Producto{
    background-color: #282828;
}