.contenedor__refrecos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 125, 8);
    height: 25rem;
}

.refrescos__slider{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.refrecos__item{
    position: absolute;
    width: 500px;
    height: 400px;
    height: 400px;
    transition: 0.5s;
    left: calc(50% - 15rem);
    top: 7.5rem;
}

.refresco__imd{
    width: 100%;
    border-radius: 1rem;
}

#refrescoNext, #refrescoPrev{
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    left: 5rem;
}

#refrescoNext{
    left: unset;
    right: 5rem;
}