.contenedor__tragos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 117, 74);
    height: 25rem;
}

.tragos__slider{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.tragos__item{
    position: absolute;
    width: 500px;
    height: 400px;
    height: 400px;
    transition: 0.5s;
    left: calc(50% - 15rem);
    top: 7.5rem;
}

.trago__img{
    width: 100%;
    border-radius: 1rem;
}

#tragoNext, #tragoPrev{
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: xx-large;
    font-weight: bold;
    left: 5rem;
}

#tragoNext{
    left: unset;
    right: 5rem;
}