.contenedor__refrecos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000004f;
    width: 80%;
    margin: 2rem 10%;
    border-radius: 1rem;
}

.refrescos__slider{
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.refrecos__item{
    position: absolute;
    width: 500px;
    transition: 0.5s;
    left: calc(50% - 15rem);
    top: 7.5rem;
}

.refresco__img{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

#refrescoNext, #refrescoPrev{
    width: 5rem;
    position: absolute;
    top: 40%;
    color: chartreuse;
    background-color: transparent;
    border: none;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    font-weight: bold;
    left: -1rem;
    transition: 1s;
}

#refrescoNext{
    left: unset;
    right: -1rem;
}

#refrescoNext:hover{
    cursor: pointer;
    transform: translateX(0.5rem);
}

#refrescoPrev:hover{
    cursor: pointer;
    transform: translateX(-0.5rem);
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .contenedor__refrecos{
        width: 98%;
        height: 25rem;
        margin: 2rem 1% 4rem 1%;
    }
    
    .refrecos__item{
        width: 90%;
        left: calc(12%);
        top: 8rem;
    }
    
    .refresco__imd{
        width: 85%;
        height: 15rem;
    }
    
    #refrescoNext, #refrescoPrev{
        top: 22rem;
        left: 2rem;
    }
    
    #refrescoNext{
        left: unset;
        right: 2rem;
    }
}

/* Portrait and Landscape---------- Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ 
    .contenedor__refrecos{
        height: 50vh;
    }

    .refrecos__item{
        width: 85%;
        left: calc(50% - 17rem);
        top: 4rem;
    }
    
    .refresco__imd{
        width: 85%;
    }
    
    #refrescoNext, #refrescoPrev{
        top: 70%;
        font-size: 8rem;
        left: 2rem;
    }
    
    #refrescoNext{
        left: unset;
        right: 2rem;
    }
}