.prodcuto__titulo{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (max-device-width: 768px)  { 
    .prodcuto__titulo{
        text-align: center;
    }
}