.producto__agregar{
    width: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.producto__agregar:hover{
    font-weight: bold;
    background-color: #f46f52;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .producto__agregar{
        width: 80%;
    }
}