.formulario__producto{
    width: 50%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.producto__categoria, .producto__nombre, .producto__precio, .producto__descripcion, .producto__agregar, .producto__editar{
    margin-top: 2rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.producto__descripcion{
    height: 8rem;
}

.error-categoria, .error-nombre, .error-precio, .error-descripcion{
    color: #e0e7ef;
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Portrait and Landscape---------- Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){ 
    .formulario__producto{
        width: 80%;
    }
}